<!-- ********************** -->
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<div class="main">
    <div class="container py-5">
        <div class="row py-4">
            <div class="col-lg-7 pt-5 text-center">
                <h1 class="pt-5"> Salutem - Informação sobre saúde em primeiro lugar </h1>
                <button class="btn btn-info"> Sobre nós</button>
            </div>
        </div>
    </div>
</div>

<!-- *********** Informações sobre a rede *********** -->


<div class="container my-5">
    <div class="row py-4">

        <div class="col-md-6 mb-4 my-lg-auto">
           <h1 class="text-dark font-weight-bold mb-3">Sobre nossa Rede Social</h1> 
           <p class="mb-4">
            A Rede Social Salutem tem como seu principal objetivo democratizar o acesso à informações relacionadas a saúde, diminuindo o compartilhamento de fake news. A Salutem possui um  diferencial de conectar profissionais da saúde verificados para atender os diversos usuários, contando com diversas temáticas para a resolução de dúvidas geradas pelas incertezas e facilitando o acesso a conteúdos especificos. O usuário pode frequentar diversos grupos para compartilhar e solucionar suas dúvidas em um ambiente seguro e acessível. 
           </p>
        </div>

        <div class="col-md-6">
            <img src="https://i.imgur.com/vp2sYiF.jpg" alt="" class="w-90">
        </div>
    </div>
</div>










<div class="row text-center">
    <div class="col-md-12">
        <div id="feature" class="offset">
            <div class="jumbotron">
                <div class="narrow">
                    <div class="col-md-12">
                        <h3 class="heading mb-5">
                            Venha compartilhar suas dúvidas!
                        </h3>
                <div class="heading-underline">
                         </div>
                    </div>
                    <div class="row text-center">

                        
                 <div class="col-md-4">
                 <div class="feature">
                     <i class="fas fa-notes-medical fa-5x"></i>
                    <h3>Médicos</h3>
                     <p>printing and typesetting industry</p>  </div>
                     </div>

                        <div class="col-md-4 ">
                     <div class="feature ml-5">
                        <i class="fas fa-atom fa-5x"></i>
                     <h3>Ciência</h3>
                     <p>printing and typesetting industry</p>  </div>
                      </div>

             <div class="col-md-4">
                <div class="feature ml-5">
                    <i class="fas fa-users fa-5x"></i>
                            <h3>Grupos</h3>
                             <p>printing and typesetting industry</p>  </div>
                             </div>
                           
                            
                        

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--************ teste *****************-->
<!--*****************************-->
<div class="container-fluid padding">
    <div class="row text-center">
        <div class="col-md-12 mb-5">
            <h1 class="display-4">
                Conheça o time
            </h1>
        </div>
    </div>
</div>


<!--************ team *****************-->
<div id="team"class="container-fluid">
    <div class="row padding ml-1">
        <div class="col-md-6">
            <div class="card-colums ml-5 ">
                <img class="card-img-top" src="https://i.imgur.com/n5aFFzy.jpg">
                <div class="card-body">
                    <h4 class="card-title">Giullia Maria</h4>
                    <p class="card-text">
                        Lorem Ipsum is simply dummy <br>text of the printing and typesetting industry
                    </p>
                    <i class="fab fa-linkedin fa-3x mr-2 ml-5"></i>
                    <i class="fab fa-github fa-3x "></i>
                   
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card-colums ml-5 ">
                <img class="card-img-top" src="https://i.imgur.com/xJUNhrB.jpg">
                <div class="card-body">
                    <h4 class="card-title">Gustavo Thomaz</h4>
                    <p class="card-text">
                        Lorem Ipsum is simply dummy <br>text of the printing and typesetting industry
                    </p>
                    <i class="fab fa-linkedin fa-3x mr-2 ml-5"></i>
                    <i class="fab fa-github fa-3x "></i>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card-colums">
                <img class="card-img-top" src="https://i.imgur.com/XE0B7wC.jpg">
                <div class="card-body">
                    <h4 class="card-title">Isadora Fernandes </h4>
                    <p class="card-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry
                    </p>
                    <i class="fab fa-linkedin fa-3x mr-2 ml-5"></i>
                    <i class="fab fa-github fa-3x "></i>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card-colums ">
                <img class="card-img-top" src="https://i.imgur.com/GVKRnK8.jpg">
                <div class="card-body">
                    <h4 class="card-title">Tiago Higa</h4>
                    <p class="card-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry
                    </p>
                    <i class="fab fa-linkedin fa-3x mr-2 ml-5"></i>
                    <i class="fab fa-github fa-3x "></i>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card-colums">
                <img class="card-img-top" src="https://i.imgur.com/ehaY6u6.jpg">
                <div class="card-body">
                    <h4 class="card-title">Vinicius Rocha </h4>
                    <p class="card-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry
                    </p>
                    <i class="fab fa-linkedin fa-3x mr-2 ml-5"></i>
                    <i class="fab fa-github fa-3x "></i>
                </div>
            </div>
        </div>

    </div>
</div>