.bg
{
    background-color: rgba(12,130,185,0.3) ;
}

.tamanho-logo{
    height: 35px;
    width: 35px;
}

.fs-10{
    font-size: 10pt;
}

.mr-5r{
    margin-right: 5rem;
}

.fs-16{
    font-size: 16pt;
}

.ml-5r{
    margin-left: 5rem;
}

.botao:hover{
    opacity: 0.5;
}