<div class ="container-fluid bg">
    <div class="row">
        <div class="col-md-12 mt-5 mb-5">

            <div class="row d-flex justify-content-center">
                <div class="col-md-3">
                    <div class="align-items-center card" style="height: 35rem; width: 20rem;">
                        <div class="card-body">
                            <h4 class="text-center text-primary card-title">Salutem</h4>
                            <h6 class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>
                            <div class="form-group">
                                <label for="nome">Nome</label>
                                <input class="form-control" type="text" name="nome" id="nome"
                                placeholder="Seu nome">
                            </div>

                            <div class="form-group">
                                <label for="usuario">Usuario</label>
                                <input class="form-control" type="text" name="usuario" id="usuario"
                                placeholder="Seu usuario">
                            </div>

                            <div class="form-group">
                                <label for="senha">Senha</label>
                                <input class="form-control" type="password" senha="senha" id="senha"
                                placeholder="Sua senha">
                            </div>

                            <div class="form-group">
                                <label for="tipo">Tipo de Usuário</label>
                               <select class="form-group" name="tipo" id="tipo">
                                <option>Selecione um tipo de usuário:</option>
                                <option value="normal">Normal</option>
                                <option value="medico">Medico</option>
                               </select>
                            </div>
                            
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-success">Cadastrar</button>
                            </div>
                            <div class="mt-3 mb-3 text-center">
                                <p>Já possui uma conta?
                                 <a href="" class="text-info">Entrar</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
