<div class="container mt-3 bg-principal">
    <div class="row my-3">
        <div class="col-md-12">
            <h1 class="text-center">Você ainda não faz parte de nenhum Grupo!</h1>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-12">
            <h1 class="text-center">Conheça Alguns!</h1>
            <div class="d-flex justify-content-center mr-2">
                <button class="btn btn-outline-success mr-3 mt-2" routerLink="/grupo">Let's Go!</button>
            </div>
        </div>
    </div>
</div>